<ion-view title="关于">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-reply" on-touch="returnHome();">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item text-center">
            Powed by <span style="font-style: italic">Ionic</span>
          </li>
          <li class="item text-center">
            Copyright © 2015-2016
          </li>
          <li class="item text-center">
            苏州迈科全机电有限公司
          </li>
          <li class="item text-center">
            All Rights Reserved
          </li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>