
<ion-view title="Facts" class="padding">
  <ion-content>
    <h1>EDM</h1>

    <div style="text-align:center;" ><img src="img/edm.jpg" height="200"  alt="EDM" ></div>
    <p>EDM是英文单词Electrical Discharge Machining的缩写，即电火花加工。</p>
    <p>电火花加工其基本工作原理是利用连续移动的细金属丝（称为电极丝）作电极，对工件进行脉冲火花放电蚀除金属、切割成型。</p>
    <p>它主要用于加工各种形状复杂和精密细小的工件，例如冲裁模的凸模、凹模、凸凹模、固定板、卸料板等，成形刀具、样板、电火花成型
      加工用的金属电极，各种微细孔槽、窄缝、任意曲线等，具有加工余量小、加工精度高、生产周期短、制造成本低等突出优点，
      已在生产中获得广泛的应用，目前国内外的电火花线切割机床已占电加工机床总数的60%以上。</p>
    <p>
      <a class="button icon ion-home" href="#/tab/home"> Home</a>
      <!--<a class="button icon icon-right ion-chevron-right" >More Facts</a>-->
    </p>
  </ion-content>
</ion-view>

