<ion-view title="监控">

  <ion-content>

    <!-- <div class="list list-inset">
      <div class="item">机床状态：<span id="machineStatus" style="text-align:right;"><b>未连接</b> </span></div>
    </div> -->

    <!--<div class="list list-inset">-->
      <!--<div class="item item-divider">加工图形</div>-->
      <!--<div class="item">-->
        <!--<canvas height="150" with="150" id="coordPaint"></canvas>-->
      <!--</div>-->
    <!--</div>-->


    <div class="list list-inset">
      <div class="item item-divider">
        机床IO状态
      </div>
      <div class="item">
        <div class="row">
          <div class="col">水泵：<b><span id="waterPumpStatus">已关闭</span></b></div>
          <div class="col">高频：<b><span id="highFrequenceStatus">已关闭</span></b></div>
        </div>
        <div class="row">
          <div class="col">运丝：<b><span id="wireTransportStatus">已关闭</span></b></div>
          <div class="col">解锁：<b><span id="axisUnlockStatus">已关闭</span></b></div>
        </div>
        <div class="row">
          <div class="col">运丝速度：<b><span id="wireSpeedStatus">0</span></b></div>
          <div class="col">电流：<b><span id="currentStatus">0</span></b></div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
