<ion-view title="状态">

  <ion-content>
    <div class="list">
      <div class="item item-divider" style="margin-top:5px">
        <b>机械坐标</b>
      </div>
      <div class="item">
        <div class="row">
          <div class="col col-10">X</div>
          <div class="col col-40">{{ $root.div_pos_x }}</div>
          <div class="col col-10">Y</div>
          <div class="col col-40">{{$root.div_pos_y}}</div>
        </div>
        <div class="row">
          <div class="col col-10">U</div>
          <div class="col col-40">{{$root.div_pos_u}}</div>
          <div class="col col-10">V</div>
          <div class="col col-40">{{$root.div_pos_v}}</div>
        </div>
      </div>

      <div class="item" style="margin-top:5px">
        <div class="row">
          <div class="col col-12"><b>加工参数</b></div>
          <div class="col col-38"></div>
          <div class="col col-12">电流</div>
          <div class="col col-38">{{$root.currentValue}}</div>
        </div>
        <div class="row">
          <div class="col col-12">脉宽</div>
          <div class="col col-38">{{$root.pulseWidthValue}}</div>
          <div class="col col-12">占空比</div>
          <div class="col col-38">{{$root.ratioValue}}</div>
        </div>
        <div class="row">
          <div class="col col-12">速度</div>
          <div class="col col-38">{{$root.machineSpeedLevel}}</div>
          <div class="col col-12">丝速</div>
          <div class="col col-38">{{$root.wireSpeedValue}}</div>
          </div>
        </div>

      <!-- <div class="list list-inset">
        <div class="item item-divider">
          机床IO状态
        </div>
        <div class="item">
          <div class="row">
            <div class="col">水泵：<b><span id="waterPumpStatus">已关闭</span></b></div>
            <div class="col">高频：<b><span id="highFrequenceStatus">已关闭</span></b></div>
          </div>
          <div class="row">
            <div class="col">运丝：<b><span id="wireTransportStatus">已关闭</span></b></div>
            <div class="col">解锁：<b><span id="axisUnlockStatus">已关闭</span></b></div>
          </div>
          <div class="row">
            <div class="col">运丝速度：<b><span id="wireSpeedStatus">0</span></b></div>
            <div class="col">电流：<b><span id="currentStatus">0</span></b></div>
          </div>
        </div>
      </div> -->

      <div class="item" style="margin-top:5px">
        <div class="row">
          <div class="col text-center"><b>IO状态</b></div>
          <div class="col align-center"><img ng-src="{{img.watertemp}}" style="width: 65px; height: 65px"></div>
          <div class="col align-center"><img ng-src="{{img.frequencytemp}}" style="width: 65px; height: 65px"></div>
        </div>
        <div class="row">
          <div class="col align-center"><img ng-src="{{img.movetemp}}" style="width: 65px; height: 65px"></div>
          <div class="col align-center"><img ng-src="{{img.axistemp}}" style="width: 65px; height: 65px"></div>
          <div class="col align-center"><img ng-src="{{img.wiretemp}}" style="width: 65px; height: 65px"></div>
        </div>
      </div>

    </div>
  </ion-content>

</ion-view>
