<ion-side-menus>

  <ion-side-menu-content edge-drag-threshold="true">
    <ion-nav-bar class="bar-positive" id="bar03">
      <ion-nav-back-button >
      </ion-nav-back-button>
      <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">-->
        <!--</button>-->
      <!--</ion-nav-buttons>-->
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="120">
    <ion-header-bar class="bar-calm">
      <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <ion-item ui-sref="app.ipSetting" class="item item-icon-right" menu-close>
          <i class="icon ion-chevron-right"></i>
          连接
        </ion-item>
        <ion-item ui-sref="app.speedSetting" class="item item-icon-right" menu-close>
          <i class="icon ion-chevron-right"></i>
          对边
        </ion-item>
        <ion-item ui-sref="app.uiSetting" class="item item-icon-right" menu-close>
          <i class="icon ion-chevron-right"></i>
          外观
        </ion-item>
        <ion-item ui-sref="app.about" class="item item-icon-right" menu-close>
          <i class="icon ion-chevron-right"></i>
          关于
        </ion-item>

        <!--<ion-item href="#/app/tabs/home" class="item item-icon-right" menu-close >-->
          <!--<i class="icon ion-chevron-right"></i>-->
          <!--常规-->
        <!--</ion-item>-->
      </ul>
      <!-- <a class="item" >test</a> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
