<ion-view title="PREPARE">
  <ion-content class="padding">

    <div id="coordinate" class="list">
      <div class="item item-divider">机械坐标</div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-10">X</div>
          <div class="col col-40">{{ $root.div_pos_x }}</div>
          <div class="col col-10">Y</div>
          <div class="col col-40">{{$root.div_pos_y}}</div>
        </div>
        <div class="row">
          <div class="col col-10">U</div>
          <div class="col col-40">{{$root.div_pos_u}}</div>
          <div class="col col-10">V</div>
          <div class="col col-40">{{$root.div_pos_v}}</div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="item item-divider">
        <span>手动速度:</span>
        <span>{{$root.getSpeed}}</span>
      </div>
      <div class="item range range-positive">
        <i>1</i><i class="icon ion-minus-round"></i>
        <input type="range" id="speed" ng-model="$root.getSpeed"  min="1" max="10" onchange="speedChange();">
        <i class="icon ion-plus"></i><i>10</i>
      </div>
    </div>
    <div class="list">
      <div class="item item-text-wrap">
        <div class="row">

          <!-- 正式版本-->
          <div class="col"><button class="button icon-left ion-chevron-left button-royal button-small"
          on-touch="xNegPointMove();" on-release="stopPointMove();">x-</button></div>
          <div class="col"><button class="button icon-right ion-chevron-right button-calm button-small"
          on-touch="xPosPointMove();" on-release="stopPointMove();">x+</button></div>
          <div class="col"><button class="button icon-left ion-chevron-left button-royal button-small"
          on-touch="yNegPointMove();" on-release="stopPointMove();">y-</button></div>
          <div class="col"><button class="button icon-right ion-chevron-right button-calm button-small"
          on-touch="yPosPointMove();" on-release="stopPointMove();">y+</button></div>

        </div>
        <div class="row">

          <!-- 正式版本-->
          <div class="col"><button class="button icon-left ion-chevron-left button-royal button-small"
          on-touch="uNegPointMove();" on-release="stopPointMove();">u-</button></div>
          <div class="col"><button class="button icon-right ion-chevron-right button-calm button-small"
          on-touch="uPosPointMove();" on-release="stopPointMove();">u+</button></div>
          <div class="col"><button class="button icon-left ion-chevron-left button-royal button-small"
          on-touch="vNegPointMove();" on-release="stopPointMove();">v-</button></div>
          <div class="col"><button class="button icon-right ion-chevron-right button-calm button-small"
          on-touch="vPosPointMove();" on-release="stopPointMove();">v+</button></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"><ion-toggle id="toggleWaterPumpValue" ng-model="$root.toggleWaterPump" onchange="waterPumpChange();">水泵</ion-toggle></div>
      <div class="col"><ion-toggle id="toggleHighFrequence" ng-model="$root.toggleHighFrequence" onchange="highFrequenceChange();">高频</ion-toggle></div>
    </div>
    <div class="row">
      <div class="col"><ion-toggle id="toggleWireTransport" ng-model="$root.toggleWireTransport" onchange="wireTransportChange();">运丝</ion-toggle></div>
      <div class="col"><ion-toggle id="toggleAxisUnlock" ng-model="$root.toggleAxisUnlock" onchange="axisUnlockChange();">解锁</ion-toggle></div>
    </div>
    <div class="row">
      <div class="col col-50"><ion-toggle id="toggleStartWire" ng-model="$root.toggleStartWire" onchange="startWireChange();">上丝</ion-toggle></div>
    </div>



  </ion-content>
</ion-view>
