<ion-view title="加工">
  <ion-content >


    <!--<div class="list list-inset">-->
      <!--<div class="item">显示当前文件的内容或者图形<br><br><br></div>-->
    <!--</div>-->

    <div class="list">
      <b><div id="graphicsFileName" class="item item-divider">{{fileTitle}}</div></b>
      <div class="item">
        <div id="graphicsStage2">
          <br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>


    <div class="list ">
      <div class="item item-divider" style="margin-top:5px" ng-click="pulseAndRatioDispaly();">
        <b><span id="pulseAndRatio">脉宽：{{$root.pulseWidthValue}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;占空比：{{$root.ratioValue}}</span></b>
      </div>
      <div id="pulseAndRatioDispaly" style="display: none">
        <div class="item" ng-click="setPWM();">
          <div class="row">
            <div class="col">脉宽：{{$root.pulseWidthValue}}</div>
            <div class="col">占空比：{{$root.ratioValue}}</div>
          </div>
        </div>
      </div>

      <div class="item item-divider" style="margin-top:10px" ng-click="machineSpeedDispaly();">
        <b><span>速度：</span><span>{{$root.machineSpeedLevel}}</span></b>
      </div>
      <div id="machineSpeedDispaly" style="display: none">
        <div class="item range range-positive">
          <i>1</i>
          <input type="range" id="machineSpeed" ng-model="$root.machineSpeedLevel"  min="1" max="10" onchange="machineSpeedLevelChange();">
          </i><i>10</i>
        </div>
      </div>

      <div class="item item-divider" style="margin-top:10px" ng-click="wireSpeedDisplay();"><b><span>丝速：</span><span>{{$root.wireSpeedValue}}</span></b></div>
      <div id="wireSpeedDispaly" style="display: none">
        <div  class="item range range-positive" >
          <i>0</i>
          <input type="range" id="wireSpeed" ng-model="$root.wireSpeedValue"  min="0" max="3" onchange="wireSpeedChange();">
          <i>3</i>
        </div>
      </div>

      <div class="item item-divider" style="margin-top:10px" ng-click="currentValueDispaly();"><b><span>电流：</span><span>{{$root.currentValue}}</span></b></div>
      <div id="currentValueDispaly" style="display: none">
        <div class="item range range-positive">
          <i>0</i>
          <input type="range" id="current" ng-model="$root.currentValue"  min="0" max="15" onchange="currentChange();">
          <i>15</i>
        </div>
      </div>
    </div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="button-bar">
      <button class="button button-balanced icon ion-play" ng-click="startTrackMove();"></button>
      <button class="button button-energized icon ion-pause" ng-click="pauseTrackMove();" ></button>
      <button class="button button-assertive icon ion-stop" ng-click="stopTrackMove();"></button>
    </div>
  </ion-footer-bar>
</ion-view>
