<ion-view title="PROCESS">
  <ion-content class="padding">


    <div class="list list-inset">
      <div class="item">显示当前文件的内容或者图形<br><br><br></div>
    </div>

    <div class="list list-inset">
      <div class="item item-divider">
        脉宽与占空比
      </div>
      <label  class="item item-input">
        <input type="text" id="pulseWidthValue" placeholder="pulseWidth">
        <input type="text" id="ratioValue" placeholder="ratio">%
        <button class="button" on-touch="setPWM();">确认</button>
      </label>
    </div>


    <div class="list">
      <div class="item item-divider">
        <span>加工速度:</span>
        <span>{{$root.machineSpeedLevel}}</span>
      </div>
      <div class="item range range-positive">
        <i>1</i><i class="icon ion-minus-round"></i>
        <input type="range" id="machineSpeed" ng-model="$root.machineSpeedLevel"  min="1" max="10" onchange="machineSpeedLevelChange();">
        <i class="icon ion-plus"></i><i>10</i>
      </div>
    </div>

    <div class="list">
      <div class="item item-divider">运丝速度:<span>{{$root.wireSpeedValue}}</span></div>
      <div class="item range range-positive">
        <i>0</i>
        <input type="range" id="wireSpeed" ng-model="$root.wireSpeedValue"  min="0" max="3" onchange="wireSpeedChange();">
        <i>3</i>
      </div>

      <div class="item item-divider">电流:<span>{{$root.currentValue}}</span></div>
      <div class="item range range-positive">
        <i>0</i>
        <input type="range" id="current" ng-model="$root.currentValue"  min="0" max="15" onchange="currentChange();">
        <i>15</i>
      </div>
    </div>


  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="button-bar">
      <button class="button button-balanced icon ion-play" on-touch=""></button>
      <button class="button button-energized icon ion-pause" on-touch="" ></button>
      <button class="button button-assertive icon ion-stop" on-touch=""></button>
    </div>
  </ion-footer-bar>
</ion-view>
