<ion-view title="Settings">
  <ion-nav-buttons  side="left">
    <a class="button button-icon ion-arrow-left-a"  href="#/tab">
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list list-inset">
      <div class="item item-divider">
        输入IP&Port地址:
      </div>
      <label  class="item item-input">
        <input type="text" id="ipInput" placeholder="IP&port" value="192.168.5.101">
        <!--<input type="text" id="ipInput" value="192.168.5.191:8080" style="display: none;">-->
      </label>
    </div>

    <div align="center">
      <a class="button" ng-click="setIpAddress();">获取IP</a>
      <a class="button" ng-click="ipConnect();">连 接</a>
    </div>


    <div class="list list-inset">
      <div class="item item-divider">
        Details:
      </div>
      <div class="item item-text-wrap">
        <ion-scroll direction="y" scrollbar-y="True" style="height: 200px">
          <div id="information"></div>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-view>


