<ion-view title="速度设置">
  <ion-nav-buttons side="left">
    <a class="button button-icon ion-arrow-left-a" ui-sref="tabs.home">
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list list-inset">
      <div class="item item-divider">
        移动速度
      </div>
      <div class="item ">

        <div class="row">
          <div class="col-20 speedLevelContainer">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><label>档位</label></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 unit text-center"><label>μm/s</label></div>
          </div>
          <!--1-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><label>1</label></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><input
              style="width:50px;text-align:center;" placeholder="40" id="innerSpeed1" type="text text-center"
              onchange="innerSpeed1Change();"/>
            </div>
          </div>
          <!--2-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>2</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" placeholder="76" id="innerSpeed2" type="text text-center"
              onchange="innerSpeed2Change();"/>
            </div>
          </div>
          <!--3-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>3</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" id="innerSpeed3" placeholder="112"
              type="text text-center" onchange="innerSpeed3Change();"/></div>
          </div>
          <!--4-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>4</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="148" id="innerSpeed4" type="text text-center"
              onchange="innerSpeed4Change();"/>
            </div>
          </div>
          <!--5-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>5</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="184" id="innerSpeed5" type="text text-center"
              onchange="innerSpeed5Change();"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-20 speedLevelContainer">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><label>档位</label></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 unit text-center"><label>μm/s</label></div>
          </div>
          <!--6-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><label>6</label></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><input
              style="width:50px;text-align:center;" placeholder="220" id="innerSpeed6" type="text text-center"
              onchange="innerSpeed6Change();"/>
            </div>
          </div>
          <!--6-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>7</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" placeholder="292" id="innerSpeed7" type="text text-center"
              onchange="innerSpeed7Change();"/>
            </div>
          </div>
          <!--8-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>8</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" placeholder="328" id="innerSpeed8"
              type="text text-center" onchange="innerSpeed8Change();"/></div>
          </div>
          <!--9-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>9</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="364" id="innerSpeed9" type="text text-center"
              onchange="innerSpeed9Change();"/>
            </div>
          </div>
          <!--10-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>10</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="400" id="innerSpeed10" type="text text-center"
              onchange="innerSpeed10Change();"/>
            </div>
          </div>
        </div>

      </div>

      <div class="item item-divider">
        加工速度
      </div>
      <div class="item ">
        <div class="row">
          <div class="col-20 speedLevelContainer">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><label>档位</label></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 unit text-center"><label>μm/s</label></div>
          </div>
          <!--1-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><label>1</label></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><input
              style="width:50px;text-align:center;" placeholder="40" id="machineSpeed1" type="text text-center"
              onchange="machineSpeed1Change();"/>
            </div>
          </div>
          <!--2-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>2</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" placeholder="76" id="machineSpeed2" type="text text-center"
              onchange="machineSpeed2Change();"/>
            </div>
          </div>
          <!--3-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>3</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" id="machineSpeed3" placeholder="112"
              type="text text-center" onchange="machineSpeed3Change();"/></div>
          </div>
          <!--4-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>4</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="148" id="machineSpeed4" type="text text-center"
              onchange="machineSpeed4Change();"/>
            </div>
          </div>
          <!--5-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>5</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="184" id="machineSpeed5" type="text text-center"
              onchange="machineSpeed5Change();"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-20 speedLevelContainer">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><label>档位</label></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 unit text-center"><label>μm/s</label></div>
          </div>
          <!--6-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><label>6</label></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"><input
              style="width:50px;text-align:center;" placeholder="220" id="machineSpeed6" type="text text-center"
              onchange="machineSpeed6Change();"/>
            </div>
          </div>
          <!--6-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>7</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" placeholder="292" id="machineSpeed7" type="text text-center"
              onchange="machineSpeed7Change();"/>
            </div>
          </div>
          <!--8-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><label>8</label></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input
              style="width:50px;text-align:center;" placeholder="328" id="machineSpeed8"
              type="text text-center" onchange="machineSpeed8Change();"/></div>
          </div>
          <!--9-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>9</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="364" id="machineSpeed9" type="text text-center"
              onchange="machineSpeed9Change();"/>
            </div>
          </div>
          <!--10-->
          <div class="col-16 speedLevelContainer">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><label>10</label></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center"><input
              style="width:50px;text-align:center;" placeholder="400" id="machineSpeed10" type="text text-center"
              onchange="machineSpeed10Change();"/>
            </div>
          </div>
        </div>

      </div>


      <div class="item item-divider">
        对边设置
      </div>
      <div class="item">
        <div>
            第一次对边速度(μm/s)&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="200"
                                               type="text text-center" id="firstSpeed" onchange="firstSpeedChange();">
        </div>
        <div>
          第二次对边速度(μm/s)&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="200"
                                             type="text text-center" id="secondSpeed" onchange="secondSpeedChange();">
        </div>
        <br>
        <div>
          对边回退距离(μm)&nbsp&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="50"
                                             type="text text-center" id="rollBackValue" onchange="rollBackChange();">
        </div>
        <div>
          忽视短路距离(μm)&nbsp&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="500"
                                             type="text text-center" id="ignoreDistanceValue" onchange="ignoreDistanceChange();">
        </div>
      </div>


    </div>





  </ion-content>
</ion-view>


