<ion-view title="速度设置">
  <ion-content class="padding">
    <div class="list list-inset">


      <div class="item item-divider">
        对边设置
      </div>
      <div class="item">
        <div>
            第一次对边速度(μm/s)&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="200"
                                               type="text text-center" id="firstSpeed" onchange="firstSpeedChange();">
        </div>
        <div>
          第二次对边速度(μm/s)&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="200"
                                             type="text text-center" id="secondSpeed" onchange="secondSpeedChange();">
        </div>
        <br>
        <div>
          对边回退距离(μm)&nbsp&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="50"
                                             type="text text-center" id="rollBackValue" onchange="rollBackChange();">
        </div>
        <div>
          忽视短路距离(μm)&nbsp&nbsp&nbsp&nbsp<input style="width:100px;text-align:center;" placeholder="500"
                                             type="text text-center" id="ignoreDistanceValue" onchange="ignoreDistanceChange();">
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>


