<ion-nav-bar class="bar-positive">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-icon-bottom tabs-positive">

  <ion-tab title="状态" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/tabs/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="准备" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" ui-sref="app.tabs.prepare">
    <ion-nav-view name="prepare-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="文件" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" ui-sref="app.tabs.files">
    <ion-nav-view name="files-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="加工" icon-off="ion-ios-play-outline" icon-on="ion-ios-play" ui-sref="app.tabs.process">
    <ion-nav-view name="process-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>


