<ion-view title="test">
  <ion-content class="padding">
    <h3>测试专用</h3>

    <div class="list">
      <div class="item item-divider">开关</div>
      <ion-toggle ng-model="toggleWaterPump" ng-change="">水泵</ion-toggle>
      <ion-toggle ng-model="toggleHighFrequence" ng-change="">高频</ion-toggle>
      <ion-toggle ng-model="toggleWireTransport" ng-change="">运丝</ion-toggle>
    </div>

    <div class="list">
      <div class="item item-divider">运丝速度</div>
      <div class="item" ng-bind="wireSpeedValue"></div>
      <div class="item item-divider">电流</div>
      <div class="item" ng-bind="currentValue"></div>
    </div>

    <div>
      <a class="button" ng-click="getIOState();">获取IO状态</a>
      <a class="button" ng-click="getSelDiv();">获取速度类型档位</a>
    </div>

  </ion-content>
</ion-view>

