<ion-view title="测试">
  <ion-content class="padding">
    <h4 align="center">For testing.</h4>

    <canvas height="500" with="150" id="coordPaint"></canvas>








    <!--<div class="template">-->

      <!--<div class="display">-->
        <!--<div id="FileInputContainer">-->
          <!--<input type="file" id="load_prg" />-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--&lt;!&ndash;<div id="file_name">文件名</div>&ndash;&gt;-->
          <!--<div id="preContainer">-->
            <!--&lt;!&ndash;<pre data-language="gcode" id="code"></pre>&ndash;&gt;-->
            <!--<pre data-language="gcode" id="code">&lt;gcode&gt;&lt;/gcode&gt;</pre>-->
          <!--</div>-->
        <!--</div>-->
        <!--<br>-->
        <!--<br>-->

        <!--<div id="graphicsStage">-->
          <!--<br><br><br><br><br><br><br><br><br>-->
        <!--</div>-->


      <!--</div>-->

    <!--</div>-->


  </ion-content>
</ion-view>

