/* Empty. Add your own CSS if you like */
/**
 * Action Sheets for Android
 * --------------------------------------------------
 */

/*文件模块编辑区样式*/
#fileTextarea {
    background-color: #f8f8f8;
    
    width: 95%;
    height: 198px;

    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    
    border: solid 1px #886aea;

    color: black;
}

.platform-android .action-sheet-backdrop.active
{
    background-color: rgba(0, 0, 0, .1);
}
.platform-android .action-sheet
{
    max-width: 96vw;
    margin: auto;
    /*margin: 0;*/
    margin-bottom: 10px;

    border-radius: 5px;

    align-content: center;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button
{
    /*border-color: #e2e2e2;*/
    font-size: 16px;

    text-align: left;

    color: inherit;
}
.platform-android .action-sheet .action-sheet-title
{
    font-size: 14px;

    padding: 16px;

    color: #666;
}
.platform-android .action-sheet .button
{
    padding-left: 16px;

    color: #104e89;
    border-color: #e2e2e2;
}
.platform-android .action-sheet .button.destructive
{
    color: red;
}
.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated
{
    background: #e8e8e8;
}
.platform-android .action-sheet-group
{
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}
.platform-android .action-sheet-cancel
{
    display: none;
}
.platform-android .action-sheet-has-icons .button
{
    padding-left: 56px;
}

/*图片水平居中*/
.align-center
{
    display: inline;
    text-align: center;
}
/*文字水平和垂直居中*/
.text-center
{
    margin: auto;
    text-align: center;
}
/*自定义button-small样式*/
/*.button-small
{
    width: 34px;
    height: 32px;
}*/
.button09 {
    border-color: #22c1c1 !important;
    color: #22c1c1 !important;
}
.button09:active {
    background-color: #22c1c1 !important;
    color: #ffffff !important;
}